<!DOCTYPE html>
<html>
<head>
	<title>todoList</title>
	<script  src='./vue.js'></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="inputValue"/>
		<button v-on:click='handleBtnClick'>提交</button>	
		<ul>
			<todo-item v-bind:content="item" v-for="item in list"></todo-item>
		</ul>
	</div>
	
<script type="text/javascript">
		/*Vue.component("TodoItem",{
			props: ['content'],
			template:"<li>{{content}}</li>"
		})*/
		var Todo={
			props: ['content'],
			template: "<li>{{content}}</li>"
		}
		var app= new Vue ({
			el: '#app',
			components: {
				TodoItem: Todo
			},
			data: {
				list: [],
				inputValue: ''
			},
			methods: {
				handleBtnClick: function(){
					this.list.push(this.inputValue);
					this.inputValue='';
				}
			}
		});

</script>
</body>
</html>